@import "tailwindcss";

@theme {
  --breakpoint-xs: 490px;
}

#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.satoshi {
  font-family: "Satoshi", sans-serif;
}

.public-sans {
  font-family: "Public Sans", sans-serif;
}

li {
  list-style: none;
}

body {
  background-color: #0a0a0b;
  color: #d4d4d4;
}
